.svg-inline--fa {
  font-size: 1.25rem;
}
.logo-text {
  font-size: 1.25rem;
  margin: 0.3rem;
}
.logo-sub-text {
  font-size: 0.7rem;
  color: var(--text-color-secondary);
}
a:hover .logo-sub-text {
  color: var(--accent-color-primary);
}
a:active .logo-sub-text {
  color: var(--contrast-color-primary);
}
.social-line {
  margin: 0rem;
  margin-bottom: 1rem;
}

/*-------------------- Media Breakpoints --------------------*/
/*--- Tablet/Desktop size ---*/
@media all and (min-width: 700px) {
  .svg-inline--fa {
    font-size: 3.5rem;
  }
  .logo-text {
    font-size: 3.5rem;
    margin: 0 1.25rem;
  }
  .logo-sub-text {
    font-size: 1.75rem;
  }
  .social-line {
    margin-bottom: 1.75rem;
  }
}
/*--- 2K+ Widths ---*/
@media all and (min-width: 1570px) {
  .svg-inline--fa {
    font-size: 4rem;
  }
  .logo-text {
    font-size: 4rem;
    margin: 0 1.5rem;
  }
  .logo-sub-text {
    font-size: 2rem;
  }
  .social-line {
    margin-bottom: 2rem;
  }
}
/*--- 4K+ Widths ---*/
@media all and (min-width: 2560) {
  .svg-inline--fa {
    font-size: 6rem;
  }
  .logo-text {
    font-size: 6rem;
    margin: 0 1.75rem;
  }
  .logo-sub-text {
    font-size: 2.5rem;
  }
  .social-line {
    margin-bottom: 2.5rem;
  }
}
