/*---------- About Classes-----------*/
.accent-border {
  border: var(--accent-color-primary);
  border-width: 0.4rem;
}
.info-card {
  margin: 0 15%;
}
.info-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.info-title {
  background-color: var(--primary-color-dark);
  width: 100%;
  text-align: center;
  justify-self: flex-start;
  flex: 1;
}
.info-text {
  flex: 1;
  align-self: center;
}

/*-------------------- Media Breakpoints --------------------*/
/*--- Tablet/Desktop size ---*/
@media all and (min-width: 700px) {
  .accent-border {
    border-style: solid;
  }
  .info-img {
    border-style: none;
    border-right-style: solid;
  }
}
