/*---------- About Classes-----------*/
.accent-border {
  border: var(--accent-color-primary);
  border-width: 0.4rem;
}
.info-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 15% 15% 15%;
  border-style: solid;
  border-radius: 15px;
  overflow: hidden;
}
.info-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.info-body {
  width: 100%;
}

.info-title {
  background-color: var(--primary-color-dark);
  width: 100%;
  text-align: center;
}
.info-text {
  padding: 0.5rem;
  text-align: center;
}

.deploy-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #1cddffa6;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.175s;
}
.deploy-text {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  font-size: 150%;
  text-shadow: 2px 0px 3px var(--primary-color-dark);
}
.deploy-wrap {
  position: relative;
}

.deploy-wrap:hover .deploy-screen {
  visibility: visible;
  opacity: 1;
}

a:link,
a:visited {
  color: #ffffff;
}
a:hover {
  color: var(--accent-color-primary);
}
a:active {
  color: var(--contrast-color-primary);
}

/*-------------------- Media Breakpoints --------------------*/
/*--- Tablet Layout ---*/
@media all and (min-width: 700px) {
  .info-card {
    margin: 0 10% 5% 10%;
  }

  .deploy-wrap:active .deploy-screen {
    background: #e40066a6;
    visibility: visible;
    opacity: 1;
  }
}

/*--- Desktop layout ---*/
@media all and (min-width: 1100px) {
  .accent-border {
    border-style: solid;
  }
  .info-card {
    flex-direction: row;
    margin: 0 10% 4% 10%;
  }
  .info-img {
    border-style: none;
    border-right-style: solid;
  }
  .flipped {
    flex-direction: row-reverse;
  }
  .flipped .info-img {
    border-style: none;
    border-left-style: solid;
  }
}
